[Desktop Entry]
Name=TrainMe
Comment=No-code labelling and training toolkit for computer vision
Exec=trainme
Icon=trainme
Terminal=false
Type=Application
Categories=Graphics;RasterGraphics;MachineLearning
